@media (max-width: 1199px) {
    .footer {
        &__info {
            width: 360px;
            height: 270px;
        }
    }
}

@media (max-width: 991px) {
    .promo {
        padding: 25px 40px 25px 40px;
    }
    .benefits {
        padding: 40px 25px 40px 25px;
        &__wrapper {
            margin-top: 10px;
        }
        &__items {
            padding-left: 5px;
            padding-right: 5px;
        }
        &__subheader {
            margin-top: 30px;
        }
    }
    .concultation {
        &__descr {
            padding-left: 20px;
        }
        .title {
            &__left {
                padding-left: 20px;
                font-size: 30px;
                text-align: left;
            }
        }
    }
    .carousel {
        &__inner {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .feed-form {
        padding-left: 20px;
    }
    .footer {
        &__info {
            top: 0;
            left: 40%;
            transform: none;
            width: 460px;
            height: 210px;
            padding: 50px 68px 60px 68px;
        }
        &__adr {
            margin-top: 0;
            margin-bottom: 10px;
        }
        &__social-item {
            margin-top: 15px;
        }
    }
}

@media (max-width: 767px) {
    .promo {
        &__wrapper {
            align-items: center;
        }
        .header {
        &__official {
            display: none;
        }
    }
    }
    .benefits {
        padding: 35px 25px 35px 25px;
        &__title {
            color: #0D0D0D;
            font-weight: 700;
            font-size: 20px;
        }
        &__wrapper {
            margin-top: 20px;
        }
        &__subheader {
            margin-top: 20px;
            font-size: 14px;
        }
    }

    .carousel {
        &__inner {
            img {
                width: 80%;
                height: 80%;
                object-fit: cover;
            }
        }
    }
    .catalog {
        &__tabs {
            flex-direction: column;
        }
    }
    .footer {
        &__info {
            position: absolute;
            top: 0;
            left: 50%;
            width: 270px;
            height: 205px;
            background: $main-color;
            padding: 10px;
        }
    }
}
@media (max-width: 575px) {
    .promo {
        width: 100%; 
        padding: 25px;
        &__wrapper {
            margin-top: 60px;
        }
        &__icons {
            justify-content: center;
        }
    }
    .header {
        width: 100%; 
        font-size: 30px;
        &__logo {
            img {
                width: 80%;
            }
        }
        &__phone {
            font-size: 16px;
        }
        &__subheader {
            font-size: 16px;
        }
    }
    .button {
        width: 140px;
        height: 28px;
        font-size: 10px;
        &__main {
            margin-top: 67px;
            width: 153px;
            height: 32px;
            font-style: 16px;
        }
        &__submit {
            width: 153px;
            height: 32px;
        }
        &_mini {
            padding-top: 7px;
        }
    }
    .benefits {
        width: 100%; 
        &__wrapper {
            display: flex;
            flex-direction: column;
        }
        &__items {
            margin-top: 25px;
            max-width: 95%;
            justify-content: center;
        }
        &__subheader {
            margin-top: 10px;
        }
    }
    .carousel {
        &__inner {
            img {
                width: 80%;
                height: 80%;
                object-fit: cover;
            }
        }
    }
    .review {
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__subtitle {
            margin-top: 50px;
            text-align: center;
        }
        &__rank {
            text-align: center;
        }
        &__descr {
            text-align: center;
        }
    }
    .modal {
        width: 342px;
    }
    .footer {
        &__info {
            position: absolute;
            top: 445px;
            left: 50%;
            width: 270px;
            height: 170px;
            transform: translateX(-50%);
            background: $main-color;
            padding: 10px;
        }
        &__adr {
            margin-bottom: 16px;
            font-size: 16px;
        }
        &__phone {
            font-size: 16px;
        }
    }
    .feed-form {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}