.title {
    color: #0D0D0D;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    &__left {
        color: #ffffff;
        font-size: 36px;
        text-align: left;
    }
}